<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/main_ayuso.css">
  <title>El cazador, cazado</title>
</head>
<body class="page">
    <div class="header_container">
        <video autoplay muted class="fullscreen-bg__video" id="videocabecera">
        <source src="video/video_portada_ayuso.mp4" alt="vídeo cabecera">
        </video>
        <div class="titulo_content">
        <h1 class="titulo">El cazador, cazado</h1>
        <p class="titulito_portada">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellendus expedita, dolorum quisquam quam incidunt temporibus voluptatum facilis nisi? Nisi, suscipit?</p>
        <hr class="bajo_lead" size="5" width="15%" color="white">
        <p class="autor">Por: <b>Ana Ruiz</b></p>
        </div>
    </div>
    <div class="parrafo">
    <p class="primer_parrafo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    <div class="pagina_negra">
        <div class="entre_titulo">
        <div class="rectangulo"></div>
        <h1 class="titulito">Parte 1. El principio del fin</h1>
        <h2 class="titulito_cursiva">Los orígenes del conflicto</h2>
        </div>    
    </div>
    <div class="mediotitulo">
    <h3>1. <i>4M:</i> ¿victoria del PP o victoria de Ayuso?</h3>
    </div>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    <%- include('../template/grafico-elecciones.html')-%>
    <div class="under_chart">
    <p id="uno">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim </p>
    <p id="dos">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim </p>
    </div>
    <div class="mediotitulo2">
    <h3>2. Octubre 2021: Casado cita a Ayuso <br> por presuntas irregularidades</h3>
    </div>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    <div class="mediotitulo3">
    <h3>3. Febrero 2022: la nueva Reforma Laboral se aprueba <br> por los pelos y sin querer</h3>
    </div>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    <%- include('../template/congreso.html')-%>
    <div class="mediotitulo3">
    <h3>4. La eterna constante: el Congreso Regional del PP de Madrid</h3>
    </div>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    <%- include('../template/grafico-barones.html')-%>
    <div class="pagina_negra">
        <div class="entre_titulo">
        <div class="rectangulo"></div>
        <h1 class="titulito">Parte 2. Toda acción tiene <br> una reacción opuesta</h1>
        <h2 class="titulito_cursiva">La última semana de Pablo Casado <br> como líder indicutible del PP</h2>
        </div>    
    </div>
    <%- include('../template/timeline.html')-%>
    <div class="pagina_negra">
        <div class="entre_titulo">
        <div class="rectangulo"></div>
        <h1 class="titulito">Parte 3. Conclusiones</h1>
        <h2 class="titulito_cursiva">¿Hemos aprendido algo realmente?</h2>
        </div>    
    </div>
    <div class="mediotitulo2">
    <h3>1. Cascada de dimisiones</h3>
    </div>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    <div class="ladillo">
        <p>Quién se va y quién se queda en Génova</p>
    </div>
    <%- include('../template/dimisiones.html')-%>
    <div class="mediotitulo2">
    <h3>2. Nuevo líder a la vista</h3>
    </div>
    <div class="fotos">
        <img class="foto1" src="img/feijoo.jpg">
        <p class="pie_pagina">Fuente: El Correo</p>
    </div>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    <div class="mediotitulo2">
    <h3>3. El cazador, cazado</h3>
    </div>
    <div class="fotos">
        <img class="foto1" src="img/ayuso casado.jpg">
        <p class="pie_pagina">Fuente: eldiario.es</p>
    </div>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
</body>
</html>