<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet" />  
    <link rel="stylesheet" href="css/main_oscar_copia.css" type ="text/css" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display&display=swap" rel="stylesheet">    
    <title>OSCAR</title>
</head>
<body>
<header>
<!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>  
<!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="img/Secuencia 01_1.mp4" type="video/mp4">
    </video>
<!-- The header content -->
<div class="w-100 h-100 overflow-hidden scroll position-absolute">
    <div class="row vw-100 vh-100 d-flex justify-content-center">
        <div class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10 align-self-center">
            <h1 class = "titulo text-center mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
            <hr class="bajo_lead mb-2" width="20%" size="5" color="black">
            <p class="pequeno_titulo text-center" data-aos="fade-in" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit loborti</p>
        </div>
    </div>
</div>
</header>
<div class="container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="parrafo_principal mt-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
    <hr class="bajo_lead" width="20%" size="5" color="black">
</div>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center">
        <div class="align-self-center">
            <p class="rec_uno text-center">1</p>
        </div>
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center position-absolute">
            <h2 class="titulo_animado_uno text-center">Lorem ipsum dolor sit amet, consectetur</h2>        
        </div>
    </div>
</div>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="titulito_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p class="parrafo_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu turpis id ipsum tempus cursus. 
        Duis eget suscipit nibh, ut accumsan metus. Fusce porttitor quam eu nisl porta, 
        sed dictum quam lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Proin eu turpis id ipsum tempus cursus. Duis eget suscipit nibh, ut accumsan metus. 
        Fusce porttitor quam eu nisl porta, sed dictum quam lobortis.</p>
    <p class="titulo_categoria mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<%- include('../template/feminine_categories_one.html')-%>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center recuadro_uno">
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center">
        <p>Un <b>24,4%</b> de los nominados son <mark class="hombre">hombres,</mark> frente a un <b>75,6%</b> que son <mark class="mujer">mujeres</mark></p>
        </div>
    </div>
</div>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="titulo_categoria">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<%- include('../template/feminine_categories_two.html')-%>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="parrafo mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
</div>
<%- include('../template/feminine_categories_three.html')-%>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center recuadro_uno">
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center">
        <p><b>73.2%</b> of nominees for Production Design are <mark class="hombre">men</mark> and <b>26.8%</b>are <mark class="mujer">women.</mark> On the other hand, <b>36.1%</b> of nominees for Set Decoration are <mark class="hombre">men</mark>, while <b>63.9%</b> are <mark class="mujer">women.</mark></p>
        </div>
    </div>
</div>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center">
        <div class="align-self-center">
            <p class="rec_uno text-center">2</p>
        </div>
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center position-absolute">
            <h2 class="titulo_animado_uno text-center">Lorem ipsum dolor sit amet, consectetur</h2>        
        </div>
    </div>
</div>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="titulito_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p class="parrafo_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu turpis id ipsum tempus cursus. 
        Duis eget suscipit nibh, ut accumsan metus. Fusce porttitor quam eu nisl porta, 
        sed dictum quam lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Proin eu turpis id ipsum tempus cursus. Duis eget suscipit nibh, ut accumsan metus. 
        Fusce porttitor quam eu nisl porta, sed dictum quam lobortis.</p>
    <p class="titulo_categoria mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<%- include('../template/best_directing_one.html')-%>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="parrafo mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    <p class="titulito_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<%- include('../template/best_directing_two.html')-%>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center">
        <div class="align-self-center">
            <p class="rec_uno text-center">3</p>
        </div>
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center position-absolute">
            <h2 class="titulo_animado_uno text-center">Lorem ipsum dolor sit amet, consectetur</h2>        
        </div>
    </div>
</div>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="titulito_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p class="parrafo_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu turpis id ipsum tempus cursus. 
        Duis eget suscipit nibh, ut accumsan metus. Fusce porttitor quam eu nisl porta, 
        sed dictum quam lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Proin eu turpis id ipsum tempus cursus. Duis eget suscipit nibh, ut accumsan metus. 
        Fusce porttitor quam eu nisl porta, sed dictum quam lobortis.</p>
    <p class="titulo_categoria mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<%- include('../template/sound_editing.html')-%>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="parrafo mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    <p class="titulito_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<%- include('../template/sound_mixing.html')-%>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="parrafo mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    <p class="parrafo mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
</div>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center recuadro_uno">
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center">
        <p><b>94.5%</b> of nominees for any award included in the sound category are <mark class="hombre">men,</mark> while <b>5.5%</b> are <mark class="mujer">women</mark></p>
        </div>
    </div>
</div>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="titulito_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p class="parrafo_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu turpis id ipsum tempus cursus. 
        Duis eget suscipit nibh, ut accumsan metus. Fusce porttitor quam eu nisl porta, 
        sed dictum quam lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Proin eu turpis id ipsum tempus cursus. Duis eget suscipit nibh, ut accumsan metus. 
        Fusce porttitor quam eu nisl porta, sed dictum quam lobortis.</p>
</div>
<%- include('../template/visual_effects.html')-%>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center recuadro_uno">
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center">
        <p><b>98.3%</b> of nominees for the category Visual Effects are <mark class="hombre">men,</mark> while <b>1.7%</b> are <mark class="mujer">women</mark></p>
        </div>
    </div>
</div>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="titulito_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p class="parrafo_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu turpis id ipsum tempus cursus. 
        Duis eget suscipit nibh, ut accumsan metus. Fusce porttitor quam eu nisl porta, 
        sed dictum quam lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Proin eu turpis id ipsum tempus cursus. Duis eget suscipit nibh, ut accumsan metus. 
        Fusce porttitor quam eu nisl porta, sed dictum quam lobortis.</p>
</div>
<%- include('../template/film_editing.html')-%>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center recuadro_uno">
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center">
        <p><b>82.9%</b> of nominees for the category Film Editing are <mark class="hombre">men,</mark> while <b>17.1%</b> are <mark class="mujer">women</mark></p>
        </div>
    </div>
</div>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center">
        <div class="align-self-center">
            <p class="rec_uno text-center">4</p>
        </div>
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center position-absolute">
            <h2 class="titulo_animado_uno text-center">Lorem ipsum dolor sit amet, consectetur</h2>        
        </div>
    </div>
</div>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="titulito_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p class="parrafo_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu turpis id ipsum tempus cursus. 
        Duis eget suscipit nibh, ut accumsan metus. Fusce porttitor quam eu nisl porta, 
        sed dictum quam lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Proin eu turpis id ipsum tempus cursus. Duis eget suscipit nibh, ut accumsan metus. 
        Fusce porttitor quam eu nisl porta, sed dictum quam lobortis.</p>
</div>
<%- include('../template/documentary.html')-%>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="parrafo mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    <p class="titulito_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<%- include('../template/short_film.html')-%>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="parrafo mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
</div>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center recuadro_uno">
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center">
        <p><b>62.5%</b> of nominees for Best Documentary are <mark class="hombre">men</mark> and <b>37.5%</b>are <mark class="mujer">women.</mark> On the other hand, <b>72.2%</b> of nominees for Best Short Film (Live Action) are <mark class="hombre">men</mark>, while <b>27.7%</b> are <mark class="mujer">women.</mark></p>
        </div>
    </div>
</div>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center">
        <div class="align-self-center">
            <p class="rec_uno text-center">5</p>
        </div>
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center position-absolute">
            <h2 class="titulo_animado_uno text-center">Lorem ipsum dolor sit amet, consectetur</h2>        
        </div>
    </div>
</div>
<div class="wrapper container col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
    <p class="titulito_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p class="parrafo_seccion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu turpis id ipsum tempus cursus. 
        Duis eget suscipit nibh, ut accumsan metus. Fusce porttitor quam eu nisl porta, 
        sed dictum quam lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Proin eu turpis id ipsum tempus cursus. Duis eget suscipit nibh, ut accumsan metus. 
        Fusce porttitor quam eu nisl porta, sed dictum quam lobortis.</p>
    <p class="titulo_categoria mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<%- include('../template/score.html')-%>
<div class="w-100 h-100 overflow-hidden scroll">
    <div class="row vw-100 vh-100 d-flex justify-content-center recuadro_uno">
        <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center">
        <p><b>97.4%</b> of nominees for the category Best Original Score are <mark class="hombre">men,</mark> while <b>2.6%</b> are <mark class="mujer">women</mark></p>
        </div>
    </div>
</div>
<div class="overflow-hidden scroll cuadro_violeta">
    <div class="row d-flex justify-content-center recuadro_uno">
        <div class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
            <p class="parrafo_blanco">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            <p class="titulo_grafico">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="texto_grafico">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu turpis id ipsum tempus cursus. Duis eget suscipit nibh, ut accumsan metus. Fusce porttitor quam eu nisl porta, sed dictum quam lobortis. </p>
        </div>
    </div>
</div>
<%- include('../template/evolution.html')-%>
<div class="overflow-hidden scroll cuadro_violeta">
    <div class="row d-flex justify-content-center recuadro_uno">
        <div class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">
            <p class="parrafo_blanco mb-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
    </div>
</div>






    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
    <!-- Libreria Scrollama -->
    <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
    <script src="https://unpkg.com/scrollama"></script>
    <script src="js/scrollama_embalses.js"></script>

</body>
</html>