<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/main_otan.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display&display=swap" rel="stylesheet">
  <title>Documento</title>
  <script>
    const myFunction = () => {
  document.getElementById("first").style.display ='block';
  document.getElementById("second").style.display ='none'
  document.getElementById("third").style.display ='none'
  document.getElementById("fourth").style.display ='none'
  document.getElementById("fifth").style.display ='none'      
}

const myFunction2 = () => {
  document.getElementById("second").style.display ='block'
  document.getElementById("first").style.display ='none'
  document.getElementById("third").style.display ='none'
  document.getElementById("fourth").style.display ='none'
  document.getElementById("fifth").style.display ='none'
}

const myFunction3 = () => {
  document.getElementById("third").style.display ='block'
  document.getElementById("first").style.display ='none'
  document.getElementById("second").style.display ='none'
  document.getElementById("fourth").style.display ='none'
  document.getElementById("fifth").style.display ='none'
}
const myFunction4 = () => {
  document.getElementById("fourth").style.display ='block'
  document.getElementById("first").style.display ='none'
  document.getElementById("second").style.display ='none'
  document.getElementById("third").style.display ='none'
  document.getElementById("fifth").style.display ='none'
}
const myFunction5 = () => {
  document.getElementById("fifth").style.display ='block'
  document.getElementById("first").style.display ='none'
  document.getElementById("second").style.display ='none'
  document.getElementById("third").style.display ='none'
  document.getElementById("fourth").style.display ='none'
}
  </script>
</head>
<body>
    
    <section class="background">
        <nav class="sticky_bar"></nav>
        <div class="titulo">
            <h1 class="texto_titulo">Lorem ipsum</h1>
            <p class="subtitulo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            <p class = "nombre">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
    </section>
    <div>
        <div class="linea1"></div>
        <p class="parrafo_lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        <div class="linea2"></div>
    </div>
    <div class="parrafo">
        <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    </div>
    <div class="titulo_grafico_2">
        <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h2>
    </div>
    <div class="subtitulo_grafico_2">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>
    <%-include('../template/fecha_incorporacion.html')-%>
    
    <div class="fuente">
        <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="parrafo">
        <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    </div>
    <div class="parrafo">
        <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
    </div>
    <div class="titulo_grafico_2">
        <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h2>
    </div>
    <div class="subtitulo_grafico_2">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>
    <%-include('../template/bases_militares.html')-%>
    <div class="fuente_2">
        <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="parrafo">
        <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    </div>
    <div class="titulo_grafico">
        <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h2>
    </div>
    <div class="subtitulo_grafico">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>
    <%-include('../template/evolucion_gasto_militar.html')-%>
    <div class="fuente_4">
        <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="parrafo">
        <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    </div>
    <div class="parrafo">
        <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
    </div>
    <div class="titulo_interactivo">
        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
    </div>
    <%-include('../template/linea_otan_rusia.html')-%>
    <div class="parrafo">
        <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    </div>
    <div class="parrafo">
        <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    </div>
    <div class="titulo_interactivo">
        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
    </div>
    <div class="subtitulo_interactivo">
        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</h4>
    </div>
    <%-include('../template/cooperacion_otan_rusia.html')-%>
    <div class="parrafo">
        <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    </div>
    <div class="titulo_interactivo">
        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
    </div>
    <div class="subtitulo_interactivo">
        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</h4>
    </div>
    <div class="container">
  <button class="b1" onClick="myFunction()">1992</button>
  <button class="b2" onClick="myFunction2()">2008</button>
  <button class="b3" onClick="myFunction3()">2014</button>
  <button class="b4" onClick="myFunction4()">2015</button>
  <button class="b5" onClick="myFunction5()">2022</button>
</div>

<div class="content">
  <div class="imagen" id="first">
      <img src="../img/mapa_conflictos_moldavia.png"/>
      <p class="texto_imagen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe quasi similique facilis illum rem perspiciatis animi nesciunt</p>
    </div>
  <div class="imagen" id="second"><img src="../img/mapa_conflictos_georgia.png"/> 
    <p class="texto_imagen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe quasi similique facilis illum rem perspiciatis animi nesciunt</p>
    </div>
  <div class="imagen" id="third"><img src="../img/mapa_conflictos_crimea.png"/> 
    <p class="texto_imagen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe quasi similique facilis illum rem perspiciatis animi nesciunt</p>
    </div>
  <div class="imagen" id="fourth"><img src="../img/mapa_conflictos_siria.png"/> 
    <p class="texto_imagen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe quasi similique facilis illum rem perspiciatis animi nesciunt</p>
    </div>
  <div class="imagen" id="fifth"><img src="../img/mapa_conflictos_ucrania.png"/> 
    <p class="texto_imagen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe quasi similique facilis illum rem perspiciatis animi nesciunt</p>
    </div>
</div>
    <div class="fuente_2">
        <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="parrafo">
        <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    </div>
     <div class="footer">
    </div>
</body>
</html>
    
    
